# Scan Builder Middleware Basic App - Default Configuration

# ESP-IDF system
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# micro-ROS scan configuration
CONFIG_MICRO_ROS_SCAN_BINS=360
CONFIG_MICRO_ROS_SCAN_BUILDER_ALLOC_MALLOC=y
CONFIG_MICRO_ROS_SCAN_ALLOC_GUARD=n
